OPENAI_API_KEY = "your_api_key_here"
OPENAI_BASE_URL = "http://localhost:7676/v1"
OPENAI_MODEL = "Qwen3-4B-AWQ"

# Optional: Add your API keys here if you have them
## Get from https://newsapi.org/
NEWS_API_KEY=None
## Get from https://developer.edamam.com/
EDAMAM_APP_ID=None
EDAMAM_APP_KEY=None

